---
/* eslint max-lines: 'off' */

import NavPagination from '../components/NavPagination.astro';
import { getEmpleados } from '../lib/recursos_humanos/index.js';
import type { Empleado } from '../types/recursos_humanos';
const query = Astro.url.searchParams.get('query')!;
const page = Astro.url.searchParams.get('page')!;
const { class: clazz } = Astro.props;
const queryset = await getEmpleados(query, page);
const empleados = queryset['results']
---

<entities-crud
	type="empleados"
	class:list={['block overflow-hidden shadow', clazz]}
>
	<div
		class="p-4 bg-white block sm:flex items-center justify-between border-b border-gray-200 lg:mt-1.5 dark:bg-gray-800 dark:border-gray-700"
	>
		<div class="w-full mb-1">
			<div class="mb-4">
				<nav class="flex mb-5" aria-label="Breadcrumb">
					<ol
						class="inline-flex items-center space-x-1 text-sm font-medium md:space-x-2"
					>
						<li class="inline-flex items-center">
							<a
								href="#"
								class="inline-flex items-center text-gray-700 hover:text-primary-600 dark:text-gray-300 dark:hover:text-white"
							>
								<svg
									class="w-5 h-5 mr-2.5"
									fill="currentColor"
									viewBox="0 0 20 20"
									xmlns="http://www.w3.org/2000/svg"
									><path
										d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"
									></path></svg
								>
								Inicio
							</a>
						</li>
						<li>
							<div class="flex items-center">
								<svg
									class="w-6 h-6 text-gray-400"
									fill="currentColor"
									viewBox="0 0 20 20"
									xmlns="http://www.w3.org/2000/svg"
									><path
										fill-rule="evenodd"
										d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
										clip-rule="evenodd"></path></svg
								>
								<a
									href="#"
									class="ml-1 text-gray-700 hover:text-primary-600 md:ml-2 dark:text-gray-300 dark:hover:text-white"
									>empleados</a
								>
							</div>
						</li>
						<li>
							<div class="flex items-center">
								<svg
									class="w-6 h-6 text-gray-400"
									fill="currentColor"
									viewBox="0 0 20 20"
									xmlns="http://www.w3.org/2000/svg"
									><path
										fill-rule="evenodd"
										d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
										clip-rule="evenodd"></path></svg
								>
								<span
									class="ml-1 text-gray-400 md:ml-2 dark:text-gray-500"
									aria-current="page">Lista</span
								>
							</div>
						</li>
					</ol>
				</nav>
				<h1
					class="text-xl font-semibold text-gray-900 sm:text-2xl dark:text-white"
				>
					Todos los empleados
				</h1>
			</div>
			<div class="sm:flex">
				<div
					class="items-center hidden mb-3 sm:flex sm:divide-x sm:divide-gray-100 sm:mb-0 dark:divide-gray-700"
				>
					<form class="lg:pr-3" action="#" method="GET">
						<label for="empleados-search" class="sr-only">Busqueda</label>
						<div class="relative flex mt-1 lg:w-64 xl:w-96">
							<input
								type="text"
								name="query"
								id="empleados-search"
								class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-80 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
								placeholder="Buscar empleados"
							/>
							<button
								type="submit"
								id="search_button"
								class="inline-flex justify-center p-1 text-gray-500 rounded cursor-pointer hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
								set:text=""
								>
								<svg xmlns="http://www.w3.org/2000/svg"class="w-6 h-6"
								fill="currentColor" 
								viewBox="0 -960 960 960" width="48"><path d="M796-121 533-384q-30 26-69.959 40.5T378-329q-108.162 0-183.081-75Q120-479 120-585t75-181q75-75 181.5-75t181 75Q632-691 632-584.85 632-542 618-502q-14 40-42 75l264 262-44 44ZM377-389q81.25 0 138.125-57.5T572-585q0-81-56.875-138.5T377-781q-82.083 0-139.542 57.5Q180-666 180-585t57.458 138.5Q294.917-389 377-389Z"/></svg>
								</button>
						</div>
					</form>
					<div class="flex pl-0 mt-3 space-x-1 sm:pl-2 sm:mt-0">
						<a
							href="#"
							class="inline-flex justify-center p-1 text-gray-500 rounded cursor-pointer hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
						>
							<svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6"
								fill="currentColor"
								viewBox="0 0 20 20">
								<path d="M440-160q-17 0-28.5-11.5T400-200v-240L161-745q-14-17-4-36t31-19h584q21 0 31 19t-4 36L560-440v240q0 17-11.5 28.5T520-160h-80Zm40-276 240-304H240l240 304Zm0 0Z"/>
							</svg
							>
						</a>
					</div>
				</div>
				<div class="flex items-center ml-auto space-x-2 sm:space-x-3">
					<!-- NOTE: Not implemented (see `./CrudProducts` for reference) -->
					<!-- <button
						type="button"
						data-refresh
						class="inline-flex items-center justify-center w-1/2 px-3 py-2 text-sm font-medium text-center text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 sm:w-auto dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
					>
						<svg
							class="w-5 h-5 mr-2 -ml-1"
							fill="none"
							stroke="currentColor"
							stroke-width="1.5"
							viewBox="0 0 24 24"
							xmlns="http://www.w3.org/2000/svg"
							aria-hidden="true"
						>
							<path
								stroke-linecap="round"
								stroke-linejoin="round"
								d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0l3.181 3.183a8.25 8.25 0 0013.803-3.7M4.031 9.865a8.25 8.25 0 0113.803-3.7l3.181 3.182m0-4.991v4.99"
							></path>
						</svg>
						Refresh
					</button> -->
					<button
						type="button"
						data-modal-toggle="add-empleado-modal"
						class="inline-flex items-center justify-center w-1/2 px-3 py-2 text-sm font-medium text-center text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 sm:w-auto dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
					>
						<svg
							class="w-5 h-5 mr-2 -ml-1"
							fill="currentColor"
							viewBox="0 0 20 20"
							xmlns="http://www.w3.org/2000/svg"
							><path
								fill-rule="evenodd"
								d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z"
								clip-rule="evenodd"></path></svg
				>
						Agregar empleado
					</button>
				</div>
			</div>
		</div>
	</div>
	<div class="flex flex-col">
		<div class="overflow-x-auto">
			<div class="inline-block min-w-full align-middle">
				<div class="overflow-hidden shadow">
					<table
						class="min-w-full divide-y divide-gray-200 table-fixed dark:divide-gray-600"
					>
						<thead class="bg-gray-100 dark:bg-gray-700">
							<tr>
								<!-- <th scope="col" class="p-4">
									<div class="flex items-center">
										<input
											id="checkbox-all"
											aria-describedby="checkbox-1"
											type="checkbox"
											class="w-4 h-4 border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300 dark:focus:ring-primary-600 dark:ring-offset-gray-800 dark:bg-gray-700 dark:border-gray-600"
										/>
										<label for="checkbox-all" class="sr-only">checkbox</label>
									</div>
								</th> -->
								<th
									scope="col"
									class="p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400"
								>
									Nombre
								</th>
								<th
									scope="col"
									class="p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400"
								>
									Fecha de nacimiento
								</th>
								<th
									scope="col"
									class="p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400"
								>
									Fecha de contratacion
								</th>
								<th
									scope="col"
									class="p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400"
								>
									Localizacion
								</th>
								<th
									scope="col"
									class="p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400"
								>
									Puesto
								</th>
								<th
									scope="col"
									class="p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400"
								>
									Actions
								</th>
							</tr>
						</thead>
						<tbody
							class="bg-white divide-y divide-gray-200 dark:bg-gray-800 dark:divide-gray-700"
						>
							{
								empleados.map((empleado:Empleado) => (
									<div>
										<tr class="hover:bg-gray-100 dark:hover:bg-gray-700">
											<td class="flex justify-start items-center p-4 mr-12 space-x-6 whitespace-nowrap">
												<img
													class="w-10 h-10 rounded-full text-xs"
													src={empleado.foto}
													alt={`Foto`}
												/>
												<div class="text-sm font-normal text-gray-500 dark:text-gray-400">
													<a href={`./empleado/${empleado.id}`} class="text-base font-semibold text-gray-900 dark:text-white">
														{empleado.nombre} {empleado.apellido_paterno} {empleado.apellido_materno}
													</a>
													<div class="text-sm font-normal text-gray-500 dark:text-gray-400">
														{empleado.email}
													</div>
												</div>
											</td>
											<td class="max-w-sm p-4 overflow-hidden text-base font-normal text-gray-500 truncate xl:max-w-xs dark:text-gray-400">
												{empleado.fecha_nacimiento}
											</td>
											<td class="p-4 text-base font-medium text-gray-900 whitespace-nowrap dark:text-white">
												{empleado.fecha_contratacion}
											</td>
											<td class="p-4 text-base font-medium text-gray-900 whitespace-nowrap dark:text-white">
												{empleado.ciudad} {empleado.estado}. {empleado.codigo_postal}
											</td>
											<td class="p-4 text-base font-normal text-gray-900 whitespace-nowrap dark:text-white">
												<div class="flex items-center">
													{empleado.puesto}
												</div>
											</td>
											<td class="p-4 space-x-2 whitespace-nowrap">
												<a
													href=`./${empleado.id}`
													class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
												>
													<svg
														class="w-4 h-4 mr-2"
														fill="currentColor"
														viewBox="0 -960 960 960"xmlns="http://www.w3.org/2000/svg"
													>
													<path d="M480.118-330Q551-330 600.5-379.618q49.5-49.617 49.5-120.5Q650-571 600.382-620.5q-49.617-49.5-120.5-49.5Q409-670 359.5-620.382q-49.5 49.617-49.5 120.5Q310-429 359.618-379.5q49.617 49.5 120.5 49.5Zm-.353-58Q433-388 400.5-420.735q-32.5-32.736-32.5-79.5Q368-547 400.735-579.5q32.736-32.5 79.5-32.5Q527-612 559.5-579.265q32.5 32.736 32.5 79.5Q592-453 559.265-420.5q-32.736 32.5-79.5 32.5ZM480-200q-146 0-264-83T40-500q58-134 176-217t264-83q146 0 264 83t176 217q-58 134-176 217t-264 83Zm0-300Zm-.169 240Q601-260 702.5-325.5 804-391 857-500q-53-109-154.331-174.5-101.332-65.5-222.5-65.5Q359-740 257.5-674.5 156-609 102-500q54 109 155.331 174.5 101.332 65.5 222.5 65.5Z"/>
														
													</svg>
													Ver detalles
												</a>
											</td>
										</tr>
									</div>
								))
							}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<!-- Edit empleado Modal -->
	<div
		class="fixed left-0 right-0 z-50 items-center justify-center hidden overflow-x-hidden overflow-y-auto top-4 md:inset-0 h-modal sm:h-full"
		id="edit-empleado-modal"
	>
		<div class="relative w-full h-full max-w-2xl px-4 md:h-auto">
			<!-- Modal content -->
			<div class="relative bg-white rounded-lg shadow dark:bg-gray-800">
				<!-- Modal header -->
				<div
					class="flex items-start justify-between p-5 border-b rounded-t dark:border-gray-700"
				>
					<h3 class="text-xl font-semibold dark:text-white">Edit empleado</h3>
					<button
						type="button"
						class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-700 dark:hover:text-white"
						data-modal-toggle="edit-empleado-modal"
					>
						<svg
							class="w-5 h-5"
							fill="currentColor"
							viewBox="0 0 20 20"
							xmlns="http://www.w3.org/2000/svg"
							><path
								fill-rule="evenodd"
								d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
								clip-rule="evenodd"></path></svg
						>
					</button>
				</div>
				<!-- Modal body -->
				<div class="p-6 space-y-6">
					<form action="#">
						<div class="grid grid-cols-6 gap-6">
							<div class="col-span-6 sm:col-span-3">
								<label
									for="nombre"
									class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
									>Nombre</label
								>
								<input
									type="text"
									name="nombre"
									id="nombre"
									class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
									placeholder="Nombre"
									required
								/>
							</div>
							<div class="col-span-6 sm:col-span-3">
								<label
									for="apellido_paterno"
									class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
									>Apellido paterno</label
								>
								<input
									type="text"
									name="apellido_paterno"
									id="apellido_paterno"
									class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
									placeholder="Apellido paterno"
									required
								/>
							</div>
							<div class="col-span-6 sm:col-span-3">
								<label
									for="apellido_materno"
									class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
									>Apellido materno</label
								>
								<input
									type="text"
									name="apellido_materno"
									id="apellido_materno"
									class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
									placeholder="Apellido materno"
									required
								/>
							</div>
							<div class="col-span-6 sm:col-span-3">
								<label
									for="email"
									class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
									>Email</label
								>
								<input
									type="email"
									name="email"
									id="email"
									class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
									placeholder="example@company.com"
									required
								/>
							</div>
							<div class="col-span-6 sm:col-span-3">
								<label
									for="position"
									class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
									>Position</label
								>
								<input
									type="text"
									name="position"
									value="React Developer"
									id="position"
									class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
									placeholder="e.g. React developer"
									required
								/>
							</div>
							<div class="col-span-6 sm:col-span-3">
								<label
									for="current-password"
									class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
									>Current Password</label
								>
								<input
									type="password"
									name="current-password"
									value="••••••••"
									id="current-password"
									class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
									placeholder="••••••••"
									required
								/>
							</div>
							<div class="col-span-6 sm:col-span-3">
								<label
									for="new-password"
									class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
									>New Password</label
								>
								<input
									type="password"
									name="new-password"
									value="••••••••"
									id="new-password"
									class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
									placeholder="••••••••"
									required
								/>
							</div>
							<div class="col-span-6">
								<label
									for="biography"
									class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
									>Biography</label
								>
								<textarea
									id="biography"
									rows="4"
									class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
									placeholder="👨‍💻Full-stack web developer. Open-source contributor."
									>👨‍💻Full-stack web developer. Open-source contributor.</textarea
								>
							</div>
						</div>
					</form>
					<!-- Modal footer -->
					<div
						class="items-center p-6 border-t border-gray-200 rounded-b dark:border-gray-700"
					>
						<button
							class="text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
							type="submit">Save all</button
						>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Add empleado Modal -->
	<div
		class="fixed left-0 right-0 z-50 items-center justify-center hidden overflow-x-hidden overflow-y-auto top-4 md:inset-0 mt-1 h-modal sm:h-full"
		id="add-empleado-modal"
	>
		<div class="relative w-full h-full max-w-2xl px-4 md:h-auto">
			<!-- Modal content -->
			<div class="relative bg-white rounded-lg shadow dark:bg-gray-800">
				<!-- Modal header -->
				<div
					class="flex items-start justify-between p-5 border-b rounded-t dark:border-gray-700"
				>
					<h3 class="text-xl font-semibold dark:text-white">Agregar un nuevo empleado</h3>
					<button
						type="button"
						class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-700 dark:hover:text-white"
						data-modal-toggle="add-empleado-modal"
					>
						<svg
							class="w-5 h-5"
							fill="currentColor"
							viewBox="0 0 20 20"
							xmlns="http://www.w3.org/2000/svg"
							><path
								fill-rule="evenodd"
								d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
								clip-rule="evenodd"></path></svg
						>
					</button>
				</div>
				<!-- Modal body -->
				<div class="p-6 space-y-6">
					<form action="./api/empleados" method="POST" >
						<div class="grid grid-cols-6 gap-6">
							<div class="col-span-6 sm:col-span-3">
								<label
									for="nombre"
									class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
								>
									Nombre
								</label>
								<input
									type="text"
									name="nombre"
									id="nombre"
									class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
									placeholder="Nombre"
									required
								/>
							</div>
							<div class="col-span-6 sm:col-span-3">
								<label
									for="apellido_paterno"
									class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
								>
									Apellido paterno
								</label>
								<input
									type="text"
									name="apellido_paterno"
									id="apellido_paterno"
									class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
									placeholder="Apellido paterno"
									required
								/>
							</div>
							<div class="col-span-6 sm:col-span-3">
								<label
									for="apellido_materno"
									class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
								>
									Apellido materno
								</label>
								<input
									type="text"
									name="apellido_materno"
									id="apellido_materno"
									class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
									placeholder="Apellido materno"
									required
								/>
							</div>
							<div class="col-span-6 sm:col-span-3">
								<label
									for="email"
									class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
								>
									Email
								</label>
								<input
									type="email"
									name="email"
									id="email"
									class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
									placeholder="example@company.com"
									required
								/>
							</div>
							<div class="col-span-6 sm:col-span-3">
								<label
									for="fecha_nacimiento"
									class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
								>
									Fecha de Nacimiento
								</label>
								<input
									type="date"
									name="fecha_nacimiento"
									id="fecha_nacimiento"
									class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
									required
								/>
							</div>
							<div class="col-span-6 sm:col-span-3">
								<label
									for="fecha_contratacion"
									class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
								>
									Fecha de Contratación
								</label>
								<input
									type="date"
									name="fecha_contratacion"
									id="fecha_contratacion"
									class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
									required
								/>
							</div>
							<div class="col-span-6 sm:col-span-3">
								<label
									for="foto"
									class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
								>
									Foto
								</label>
								<input
									type="file"
									name="foto"
									id="foto"
									class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
								/>
							</div>
							<div class="col-span-6 sm:col-span-3">
								<label
									for="ciudad"
									class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
								>
									Ciudad
								</label>
								<input
									type="text"
									name="ciudad"
									id="ciudad"
									class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
									required
								/>
							</div>
							<div class="col-span-6 sm:col-span-3">
								<label
									for="estado"
									class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
								>
									Estado
								</label>
								<input
									type="text"
									name="estado"
									id="estado"
									class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
									required
								/>
							</div>
							<div class="col-span-6 sm:col-span-3">
								<label
									for="codigo_postal"
									class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
								>
									Código Postal
								</label>
								<input
									type="text"
									name="codigo_postal"
									id="codigo_postal"
									class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
									required
								/>
							</div>
							<div class="col-span-6 sm:col-span-3">
								<label
									for="puesto"
									class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
								>
									Puesto
								</label>
								<input
									type="text"
									name="puesto"
									id="puesto"
									class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
									required
								/>
							</div>
							<div class="col-span-6 sm:col-span-3">
								<label
									for="tel_casa"
									class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
								>
									Teléfono de Casa
								</label>
								<input
									type="tel"
									name="tel_casa"
									id="tel_casa"
									class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
								/>
							</div>
							<div class="col-span-6 sm:col-span-3">
								<label
									for="tel_cel"
									class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
								>
									Teléfono Celular
								</label>
								<input
									type="tel"
									name="tel_cel"
									id="tel_cel"
									class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
									required
								/>
							</div>
							<div class="col-span-6 sm:col-span-3">
								<label
									for="curp"
									class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
								>
									CURP
								</label>
								<input
									type="text"
									name="curp"
									id="curp"
									class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
									required
								/>
							</div>
							<div class="col-span-6 sm:col-span-3">
								<label
									for="rfc"
									class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
								>
									RFC
								</label>
								<input
									type="text"
									name="rfc"
									id="rfc"
									class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
									required
								/>
							</div>
							<div class="col-span-6 sm:col-span-3">
								<label
									for="seguro_social"
									class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
								>
									NSS
								</label>
								<input
									type="text"
									name="seguro_social"
									id="seguro_social"
									class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
									required
								/>
							</div>
							<div class="col-span-6 sm:col-span-3">
								<label
									for="sueldo_dia"
									class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
								>
									Sueldo
								</label>
								<input
									type="tel"
									name="sueldo_dia"
									id="sueldo_dia"
									class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
									required
								/>
							</div>
						</div>
					
					<!-- Modal footer -->
					<div
						class="items-center p-6 border-t border-gray-200 rounded-b dark:border-gray-700"
					>
						<button
							class="text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
							type="submit">Añadir empleado</button
						>
					</div>
				</form>
				</div>
			</div>
		</div>
	</div>

	<!-- Delete empleado Modal -->
	<div
		class="fixed left-0 right-0 z-50 items-center justify-center hidden overflow-x-hidden overflow-y-auto top-4 md:inset-0 h-modal sm:h-full"
		id="delete-empleado-modal"
	>
		<div class="relative w-full h-full max-w-md px-4 md:h-auto">
			<!-- Modal content -->
			<div class="relative bg-white rounded-lg shadow dark:bg-gray-800">
				<!-- Modal header -->
				<div class="flex justify-end p-2">
					<button
						type="button"
						class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-700 dark:hover:text-white"
						data-modal-toggle="delete-empleado-modal"
					>
						<svg
							class="w-5 h-5"
							fill="currentColor"
							viewBox="0 0 20 20"
							xmlns="http://www.w3.org/2000/svg"
							><path
								fill-rule="evenodd"
								d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
								clip-rule="evenodd"></path></svg
						>
					</button>
				</div>
				<!-- Modal body -->
				<div class="p-6 pt-0 text-center">
					<svg
						class="w-16 h-16 mx-auto text-red-600"
						fill="none"
						stroke="currentColor"
						viewBox="0 0 24 24"
						xmlns="http://www.w3.org/2000/svg"
						><path
							stroke-linecap="round"
							stroke-linejoin="round"
							stroke-width="2"
							d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg
					>
					<h3 class="mt-5 mb-6 text-lg text-gray-500 dark:text-gray-400">
						Seguro que desea borrar a este empleado?
					</h3>
					<a
						href="#"
						class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-base inline-flex items-center px-3 py-2.5 text-center mr-2 dark:focus:ring-red-800"
					>
						Si, seguro
					</a>
					<a
						href="#"
						class="text-gray-900 bg-white hover:bg-gray-100 focus:ring-4 focus:ring-primary-300 border border-gray-200 font-medium inline-flex items-center rounded-lg text-base px-3 py-2.5 text-center dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-700"
						data-modal-toggle="delete-empleado-modal"
					>
						No, cancelar
					</a>
				</div>
			</div>
		</div>
	</div>

	<NavPagination />
</entities-crud>

<script>
	import './CrudEntities.client.js';
</script>
