---
/* eslint max-lines: 'off' */

import NavPagination from '../../components/NavPagination.astro';
import FormPuesto from './FormPuesto.astro';
import { puestosAPI } from '../../services';
import GetDocuments from '../../components/GetDocuments.svelte';
import Search from '../../components/Search.svelte';

const query = Astro.url.searchParams
const { class: clazz } = Astro.props;
const queryset = await puestosAPI.getAll(query);
const puestos = queryset.results;
---

<entities-crud
	type="puestos"
	class:list={['block overflow-hidden shadow', clazz]}
>
	<div
		class="p-4 bg-white block sm:flex items-center justify-between border-b border-gray-200 lg:mt-1.5 dark:bg-gray-800 dark:border-gray-700"
	>
		<div class="w-full mb-1">
			<div class="mb-4">
				<nav class="flex mb-5" aria-label="Breadcrumb">
					<ol
						class="inline-flex items-center space-x-1 text-sm font-medium md:space-x-2"
					>
						<li class="inline-flex items-center">
							<a
								href="/"
								class="inline-flex items-center text-gray-700 hover:text-primary-600 dark:text-gray-300 dark:hover:text-white"
							>
								<svg
									class="w-5 h-5 mr-2.5"
									fill="currentColor"
									viewBox="0 0 20 20"
									xmlns="http://www.w3.org/2000/svg"
									><path
										d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"
									></path></svg
								>
								Inicio
							</a>
						</li>
						<li>
							<div class="flex items-center">
								<svg
									class="w-6 h-6 text-gray-400"
									fill="currentColor"
									viewBox="0 0 20 20"
									xmlns="http://www.w3.org/2000/svg"
									><path
										fill-rule="evenodd"
										d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
										clip-rule="evenodd"></path></svg
								>
								<a
									href="#"
									class="ml-1 text-gray-700 hover:text-primary-600 md:ml-2 dark:text-gray-300 dark:hover:text-white"
									>Puestos</a
								>
							</div>
						</li>
						<li>
							<div class="flex items-center">
								<svg
									class="w-6 h-6 text-gray-400"
									fill="currentColor"
									viewBox="0 0 20 20"
									xmlns="http://www.w3.org/2000/svg"
									><path
										fill-rule="evenodd"
										d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
										clip-rule="evenodd"></path></svg
								>
								<span
									class="ml-1 text-gray-400 md:ml-2 dark:text-gray-500"
									aria-current="page">Lista</span
								>
							</div>
						</li>
					</ol>
				</nav>
				<h1
					class="text-xl font-semibold text-gray-900 sm:text-2xl dark:text-white"
				>
					Todos los puestos
				</h1>
			</div>
			<div class="sm:flex">
				<Search client:only/>
				<div class="flex items-center ml-auto space-x-2 sm:space-x-3">
					<!-- NOTE: Not implemented (see `./CrudProducts` for reference) -->
					<!-- <button
						type="button"
						data-refresh
						class="inline-flex items-center justify-center w-1/2 px-3 py-2 text-sm font-medium text-center text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 sm:w-auto dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
					>
						<svg
							class="w-5 h-5 mr-2 -ml-1"
							fill="none"
							stroke="currentColor"
							stroke-width="1.5"
							viewBox="0 0 24 24"
							xmlns="http://www.w3.org/2000/svg"
							aria-hidden="true"
						>
							<path
								stroke-linecap="round"
								stroke-linejoin="round"
								d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0l3.181 3.183a8.25 8.25 0 0013.803-3.7M4.031 9.865a8.25 8.25 0 0113.803-3.7l3.181 3.182m0-4.991v4.99"
							></path>
						</svg>
						Refresh
					</button> -->
					<GetDocuments client:only documento='exportar_csv'>
						<svg 
							class="w-5 h-5 mr-2 -ml-1"
							fill="currentColor"
							xmlns="http://www.w3.org/2000/svg" 
							viewBox="0 -960 960 960" 
							>
							<path 
							fill-rule="evenodd"
							d="M221-357h127v-50H238v-146h110v-50H221q-14.025 0-23.512 9.775Q188-583.45 188-569v179q0 14.025 9.488 23.513Q206.975-357 221-357Zm166 0h137q14.025 0 23.513-9.487Q557-375.975 557-390v-78q0-13-9.487-22-9.488-9-23.513-9h-87v-54h120v-50H420q-14.025 0-23.513 9.487Q387-584.025 387-570v78q0 14 9.487 23.5Q405.975-459 420-459h87v52H387v50Zm271 0h57l75-246h-50l-53 183-47-183h-50l68 246ZM140-160q-24 0-42-18t-18-42v-520q0-24 18-42t42-18h680q24 0 42 18t18 42v520q0 24-18 42t-42 18H140Zm0-60h680v-520H140v520Zm0 0v-520 520Z"
							clip-rule="evenodd"
							/>
						</svg>
						Exportar DB a CSV
					</GetDocuments>
					<button
						type="button"
						data-modal-toggle="add-puesto-modal"
						class="inline-flex items-center justify-center w-1/2 px-3 py-2 text-sm font-medium text-center text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 sm:w-auto dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
					>
						<svg
							class="w-5 h-5 mr-2 -ml-1"
							fill="currentColor"
							viewBox="0 0 20 20"
							xmlns="http://www.w3.org/2000/svg"
							><path
								fill-rule="evenodd"
								d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z"
								clip-rule="evenodd"></path></svg
							>
						Agregar puesto
					</button>
				</div>
			</div>
		</div>
	</div>
	<div class="flex flex-col">
		<div class="overflow-x-auto">
			<div class="inline-block min-w-full align-middle">
				<div class="overflow-hidden shadow">
					<table
						class="min-w-full divide-y divide-gray-200 table-fixed dark:divide-gray-600"
					>
						<thead class="bg-gray-100 dark:bg-gray-700">
							<tr>
								<!-- <th scope="col" class="p-4">
									<div class="flex items-center">
										<input
											id="checkbox-all"
											aria-describedby="checkbox-1"
											type="checkbox"
											class="w-4 h-4 border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300 dark:focus:ring-primary-600 dark:ring-offset-gray-800 dark:bg-gray-700 dark:border-gray-600"
										/>
										<label for="checkbox-all" class="sr-only">checkbox</label>
									</div>
								</th> -->
								<th
									scope="col"
									class="p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400"
								>
									Nombre
								</th>
								<th
									scope="col"
									class="p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400"
								>
									Puesto
								</th>
								<th
									scope="col"
									class="p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400"
								>
									Actions
								</th>
							</tr>
						</thead>
						<tbody
							class="bg-white divide-y divide-gray-200 dark:bg-gray-800 dark:divide-gray-700"
						>
							{
								puestos.map((puesto:any) => (
									<div>
										<tr class="hover:bg-gray-100 dark:hover:bg-gray-700">
											<td class="flex justify-start items-center p-4 mr-12 space-x-6 whitespace-nowrap">
												<div class="text-sm font-normal text-gray-500 dark:text-gray-400">
													<a href={`/recursos_humanos/puesto/${puesto.id}`} class="text-base font-semibold text-gray-900 dark:text-white">
														{puesto.nombre}
													</a>
												</div>
											</td>
											<td class="max-w-sm p-4 overflow-hidden text-base font-normal text-gray-500 truncate xl:max-w-xs dark:text-gray-400">
												{puesto.responsabilidad}
											</td>
											<td class="p-4 space-x-2 whitespace-nowrap">
												<a
													href={`/recursos_humanos/puesto/${puesto.id}`} 
													class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
												>
													<svg
														class="w-4 h-4 mr-2"
														fill="currentColor"
														viewBox="0 0 20 20"
														xmlns="http://www.w3.org/2000/svg"
													>
														<>
															<path d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z" />
															<path
																fill-rule="evenodd"
																d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z"
																clip-rule="evenodd"
															/>
														</>
													</svg>
													Ver detalles
												</a>
											</td>
										</tr>
									</div>
								))
							}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<!-- Edit puesto Modal -->
	<div
		class="fixed left-0 right-0 z-50 items-center justify-center hidden overflow-x-hidden overflow-y-auto top-4 md:inset-0 h-modal sm:h-full"
		id="edit-puesto-modal"
	>
		<div class="relative w-full h-full max-w-2xl px-4 md:h-auto">
			<!-- Modal content -->
			<div class="relative bg-white rounded-lg shadow dark:bg-gray-800">
				<!-- Modal header -->
				<div
					class="flex items-start justify-between p-5 border-b rounded-t dark:border-gray-700"
				>
					<h3 class="text-xl font-semibold dark:text-white">Edit puesto</h3>
					<button
						type="button"
						class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-700 dark:hover:text-white"
						data-modal-toggle="edit-puesto-modal"
					>
						<svg
							class="w-5 h-5"
							fill="currentColor"
							viewBox="0 0 20 20"
							xmlns="http://www.w3.org/2000/svg"
							><path
								fill-rule="evenodd"
								d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
								clip-rule="evenodd"></path></svg
						>
					</button>
				</div>
				<!-- Modal body -->
				<div class="p-6 space-y-6">
					<form action="#">
						<div class="grid grid-cols-6 gap-6">
							<div class="col-span-6 sm:col-span-3">
								<label
									for="nombre"
									class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
									>Nombre</label
								>
								<input
									type="text"
									name="nombre"
									id="nombre"
									class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
									placeholder="Nombre"
									required
								/>
							</div>
							<div class="col-span-6 sm:col-span-3">
								<label
									for="apellido_paterno"
									class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
									>Apellido paterno</label
								>
								<input
									type="text"
									name="apellido_paterno"
									id="apellido_paterno"
									class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
									placeholder="Apellido paterno"
									required
								/>
							</div>
							<div class="col-span-6 sm:col-span-3">
								<label
									for="apellido_materno"
									class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
									>Apellido materno</label
								>
								<input
									type="text"
									name="apellido_materno"
									id="apellido_materno"
									class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
									placeholder="Apellido materno"
									required
								/>
							</div>
							<div class="col-span-6 sm:col-span-3">
								<label
									for="email"
									class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
									>Email</label
								>
								<input
									type="email"
									name="email"
									id="email"
									class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
									placeholder="example@company.com"
									required
								/>
							</div>
							<div class="col-span-6 sm:col-span-3">
								<label
									for="position"
									class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
									>Position</label
								>
								<input
									type="text"
									name="position"
									value="React Developer"
									id="position"
									class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
									placeholder="e.g. React developer"
									required
								/>
							</div>
							<div class="col-span-6 sm:col-span-3">
								<label
									for="current-password"
									class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
									>Current Password</label
								>
								<input
									type="password"
									name="current-password"
									value="••••••••"
									id="current-password"
									class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
									placeholder="••••••••"
									required
								/>
							</div>
							<div class="col-span-6 sm:col-span-3">
								<label
									for="new-password"
									class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
									>New Password</label
								>
								<input
									type="password"
									name="new-password"
									value="••••••••"
									id="new-password"
									class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
									placeholder="••••••••"
									required
								/>
							</div>
							<div class="col-span-6">
								<label
									for="biography"
									class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
									>Biography</label
								>
								<textarea
									id="biography"
									rows="4"
									class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
									placeholder="👨‍💻Full-stack web developer. Open-source contributor."
									>👨‍💻Full-stack web developer. Open-source contributor.</textarea
								>
							</div>
						</div>
					</form>
					<!-- Modal footer -->
					<div
						class="items-center p-6 border-t border-gray-200 rounded-b dark:border-gray-700"
					>
						<button
							class="text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
							type="submit">Save all</button
						>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Add puesto Modal -->
	<div
		class="fixed left-0 right-0 z-50 items-center justify-center hidden overflow-x-hidden overflow-y-auto top-4
		max-height-1 md:inset-0 mt-1 h-modal sm:h-full"
		id="add-puesto-modal"
	>
		<div class="relative w-full h-full max-w-2xl px-4 md:h-auto">
			<!-- Modal content -->
			<div class="relative bg-white rounded-lg shadow dark:bg-gray-800">
				<!-- Modal header -->
				<div
					class="flex items-start justify-between p-5 border-b rounded-t dark:border-gray-700"
				>
					<h3 class="text-xl font-semibold dark:text-white">Agregar un nuevo puesto</h3>
					<button
						type="button"
						class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-700 dark:hover:text-white"
						data-modal-toggle="add-puesto-modal"
					>
						<svg
							class="w-5 h-5"
							fill="currentColor"
							viewBox="0 0 20 20"
							xmlns="http://www.w3.org/2000/svg"
							><path
								fill-rule="evenodd"
								d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
								clip-rule="evenodd"></path></svg
						>
					</button>
				</div>
				<!-- Modal body -->
				<div class="p-6 space-y-6">
					<form action="./api/puestos" class="" method="POST" >
						<FormPuesto/>
					<!-- Modal footer -->
					<div
						class="items-center p-6 border-t border-gray-200 rounded-b dark:border-gray-700"
					>
						<button
							class="text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
							type="submit">Añadir puesto</button
						>
					</div>
				</form>
				</div>
			</div>
		</div>
	</div>

	<!-- Delete puesto Modal -->
	<div
		class="fixed left-0 right-0 z-50 items-center justify-center hidden overflow-x-hidden overflow-y-auto top-4 md:inset-0 h-modal sm:h-full"
		id="delete-puesto-modal"
	>
		<div class="relative w-full h-full max-w-md px-4 md:h-auto">
			<!-- Modal content -->
			<div class="relative bg-white rounded-lg shadow dark:bg-gray-800">
				<!-- Modal header -->
				<div class="flex justify-end p-2">
					<button
						type="button"
						class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-700 dark:hover:text-white"
						data-modal-toggle="delete-puesto-modal"
					>
						<svg
							class="w-5 h-5"
							fill="currentColor"
							viewBox="0 0 20 20"
							xmlns="http://www.w3.org/2000/svg"
							><path
								fill-rule="evenodd"
								d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
								clip-rule="evenodd"></path></svg
						>
					</button>
				</div>
				<!-- Modal body -->
				<div class="p-6 pt-0 text-center">
					<svg
						class="w-16 h-16 mx-auto text-red-600"
						fill="none"
						stroke="currentColor"
						viewBox="0 0 24 24"
						xmlns="http://www.w3.org/2000/svg"
						><path
							stroke-linecap="round"
							stroke-linejoin="round"
							stroke-width="2"
							d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg
					>
					<h3 class="mt-5 mb-6 text-lg text-gray-500 dark:text-gray-400">
						Seguro que desea borrar este puesto?
					</h3>
					<a
						href="#"
						class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-base inline-flex items-center px-3 py-2.5 text-center mr-2 dark:focus:ring-red-800"
					>
						Si, seguro
					</a>
					<a
						href="#"
						class="text-gray-900 bg-white hover:bg-gray-100 focus:ring-4 focus:ring-primary-300 border border-gray-200 font-medium inline-flex items-center rounded-lg text-base px-3 py-2.5 text-center dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-700"
						data-modal-toggle="delete-puesto-modal"
					>
						No, cancelar
					</a>
				</div>
			</div>
		</div>
	</div>

	<NavPagination next={queryset.next} prev={queryset.prev} total_empleados={queryset.total_puestos} total_paginas={queryset.total_paginas} pagina_actual={queryset.pagina_actual}/>

</entities-crud>
