---
import NavButton from "./NavButton.svelte";

const {next, prev, total_empleados, total_paginas, pagina_actual} = Astro.props

console.log()
---

<nav-pagination
	class="block sticky bottom-0 right-0 items-center w-full p-4 bg-white border-t border-gray-200 sm:flex sm:justify-between dark:bg-gray-800 dark:border-gray-700"
>
	<div class="flex items-center mb-4 sm:mb-0">
		
		<span class="text-sm font-normal text-gray-500 dark:text-gray-400"
			>Pagina <span class="font-semibold text-gray-900 dark:text-white"
				>{pagina_actual}</span
			> de <span class="font-semibold text-gray-900 dark:text-white">{total_paginas}</span
			>
			(Total: {total_empleados})
			</span
		>
	</div>
	<div class="flex items-center space-x-3">
		{
			prev?
			<NavButton client:only page={prev} isRight={false}>Anterior</NavButton>
			: <i></i>
		}
		{
			next?
			<NavButton client:only page={next} isRight={true}>Siguiente</NavButton>
			:<i></i>
		}
		<input form="search" type="hidden" value="1" id="page" name="page">
	</div>
</nav-pagination>
